/* Custom CSS */
header {
	background-image: url('../assets/img/homepage_banner.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.item-highlight-row {
	padding-left: 5%;
	padding-right: 5%;
}

.btn.btn-outline-info:hover {
	color: white !important;
}

@media (min-width: 768px) {
	.item-highlight-row {
		padding-left: 10%;
		padding-right: 10%;
	}
}